<section class="container px-10 py-5 mt-20 max-w-max md:mx-auto ">
    <div class="grid md:grid-cols-[400px_minmax(0px,_auto)]">
        <div class="grid-rows-2 sm:grid"> 
            <h1 class="pb-5 text-3xl font-bold md:text-7xl max-w-max ">What Our Customers About Us saying</h1>
            <p class="mx-auto text-sm font-normal max-w-max md:text-lg pt-7">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularis.</p>
            <div class="grid">
                <p class="pt-4 pb-2 text-2xl font-medium text-center md:text-left md:text-3xl">Ahmed Hridoy</p>
            </div>    
            <div class="grid items-end grid-flow-col mx-auto sm:items-center max-w-max gap-x-2">
                <div class="hidden sm:block bg-no-repeat w-[152px] h-6 mr-4 sm:mr-32" style="background-image: url(/images/image/star.jpg);" > </div> 
                <button class="flex items-center justify-center rounded-full w-14 h-14 ring-1 ring-silver">
                    <svg class="w-8 h-7 ">
                        <use xlink:href="/images/icons/all-icon.svg#right"></use>
                    </svg>
                </button>
                <button class="flex items-center justify-center rounded-full w-14 h-14 bg-gossamer">
                    <svg class="w-8 h-7">
                        <use xlink:href="/images/icons/all-icon.svg#left"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="relative hidden ml-40 gap-x-12 max-w-max md:block ">
            <div class="bg-narvik__1 hidden xl:block rounded-full w-[480px] h-[480px] ">
            </div>
            <div class="absolute hidden xl:block -top-[4.75rem]  translate-x-3 translate-y-[6.75rem] bg-center bg-no-repeat w-[450px] h-[450px] bg-contain inset-1" style="background-image: url(/images/image/bohemian.png);"> 
            </div>    
        </div>
    </div>    
</section>