<section class="px-10 py-5 mx-auto mt-20 bg-narvik__1">
    <div class="container flex flex-col-reverse xl:grid justify-center xl:grid-cols-2 md:mx-auto max-w-[600px] xl:max-w-none xl:gap-x-12">
        <img class="mt-4 xl:w-[600px] xl:h-[600px] xl:max-w-none xl:min-h-[600px] max-w-[600px] max-h-[600px]" src="/images/image/futag.png" alt="овощи">
        <div class="w-full">
            <div class="grid items-center w-full mx-auto gap-y-5">
                <h1 class="text-3xl font-bold lg:text-7xl">Explor Our Special Items</h1>
                <p class="mx-auto text-sm font-normal md:text-lg">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley...</p>
            </div> 
            <div class="grid items-center justify-center grid-cols-2 mx-auto mt-12 gap-x-2 max-w-max">
                <span>Explor Now</span>
                <button class="flex items-center justify-center w-16 h-16 transition-all duration-150 rounded-full bg-gossamer focus:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-gossamer focus-within:bg-japanese__laurel hover:bg-japanese__laurel">
                    <svg class="w-8 h-8">
                        <use xlink:href="/images/icons/all-icon.svg#arrow"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>