<footer class=" body-font">
    <div class="container flex flex-col flex-wrap px-5 py-24 mx-auto md:items-center lg:items-start md:flex-row md:flex-nowrap">
    <div class="flex-shrink-0 w-64 mx-auto text-center md:mx-0 md:text-left">
        <a class="flex items-center justify-center font-medium title-font md:justify-start ">
            <svg class="w-14 h-14 ">
                <use xlink:href="/images/icons/all-icon.svg#icon_logo"></use>
            </svg>
        </a>
        <p class="mt-2 text-sm ">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer...</p>
    </div>
    <div class="flex flex-wrap flex-grow mt-10 -mb-10 text-center md:pl-20 md:mt-0 md:text-center">
        <div class="w-full px-4 lg:w-1/3 md:w-1/2">
        <h2 class="mb-3 text-3xl font-medium tracking-widest title-font">Navigation</h2>
        <ul class="mb-10 ">
            <li class="pb-4">
            <a class="">About Us</a>
            </li>
            <li class="pb-4">
            <a class="">Service</a>
            </li>
            <li class="pb-4">
            <a class="">Menu</a>
            </li>
        </ul>
        </div>
        <div class="w-full px-4 lg:w-1/3 md:w-1/2 ">
        <h2 class="mb-3 text-3xl font-medium tracking-widest title-font">Resources</h2>
        <ul class="mb-10 list-none">
            <li class="pb-4">
            <a class="">Reviews</a>
            </li>
            <li class="pb-4">
            <a class="">Blog</a>
            </li>
            <li class="pb-4">
            <a class="">Update News</a>
            </li>
        </ul>
        </div>
        <div class="w-full px-4 lg:w-1/3 md:w-1/2">
        <h2 class="mb-3 text-3xl font-medium tracking-widest">Contact Us</h2>
        <a class="">Email: oyasim@email.com</a>
        <div class="grid grid-flow-col max-w-max gap-x-5">
            <svg class="w-6 h-12 ">
                <use xlink:href="/images/icons/all-icon.svg#facebook"></use>
            </svg>
            <svg class="w-6 h-12 ">
                <use xlink:href="/images/icons/all-icon.svg#twitter"></use>
            </svg>
            <svg class="w-6 h-12 ">
                <use xlink:href="/images/icons/all-icon.svg#instagram"></use>
            </svg>
        </div>
        </div>
    </div>
    </div>
</footer>