<div class="bg-white ">
    <div class="container px-4 py-5 mx-auto sm:py-6 sm:px-7">
        <div class="flex justify-between "> 
                <nav class="flex-row items-center hidden space-x-6 sm:flex">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Service</a></li>
                    <li><a href="#">Menu</a></li>
                    <li><a href="#">Contact</a></li>   
                </nav>                                                         
                <div class="grid items-center grid-cols-3 gap-x-10">
                <svg class="w-14 h-14 ">
                    <use xlink:href="/images/icons/all-icon.svg#icon_logo"></use>
                </svg>
            </div>
            <div class="items-center justify-center w-10 h-10 rounded-full bg-narvik__1" >
                <svg class="w-[18px] h-[18px] ">
                    <use xlink:href="/images/icons/all-icon.svg#icon_search"></use>
                </svg>
            <div class="items-center justify-center w-10 h-10 rounded-full bg-narvik__1">
                <svg class="w-[18px] h-[18px] ">
                    <use xlink:href="/images/icons/all-icon.svg#icon_buy"></use>
                </svg>
            </div>
            <div class="grid grid-cols-2 max-w-max gap-x-6 2xs:hidden lg:block">
                <button class="flex items-center justify-center w-24 h-10 space-x-2 text-sm font-normal leading-3 text-white duration-150 rounded-md bg-gossamer focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-mint__green focus:bg-mint__green hover:bg-mint__green" >Regestar Now
                </button>
            </div>
        </div>
    </div>    
</div>