<section class="container py-5 mx-auto -px-10">
    <div class="w-[6862x] h-[465px] text-center pt-24 bg-no-repeat" style="background-image: url(images/image/fresh.jpg);" >
            <h1 class="pb-5 text-7xl">Organic Fruit & Vegetables</h1>
            <h2 class="text-lg px-[420px] w-[630] max-w-max">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley...</h2>
            <div class="grid items-center grid-flow-col grid-cols-2 pt-16 mx-auto max-w-max">
                <p>Order Now</p>
                <button class="grid mx-auto">
                    <div class="flex items-center justify-center w-16 h-16 duration-150 rounded-full bg-gossamer focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gossamer focus:bg-japanese__laurel hover:bg-japanese__laurel">
                        <svg class="w-8 h-7 ">
                            <use xlink:href="/images/icons/all-icon.svg#arrow"></use>
                        </svg>
                    </div>
                </button>
        </div>
    </div>
    <div class="w-[6862x] mx-20 h-[465px]  bg-no-repeat" style="background-image: url(images/image/vegetables.jpg);" >
        <div class="w-[250px] h-[116px] bg-white ">
            <ul class="grid grid-cols-3 mx-auto">
                <li>
                    
                </li>
            </ul>
        </div>
    </div>
    
</section>