<section class="bg-narvik__2">
    <div class="w-[612px] h-[408px] icon-leaves bg-no-repeat"></div>
    <div class="w-[6862x] h-[465px] icon-vegetables bg-no-repeat bg-transparent"></div>
    <h1>СOrganic Fruit & Vegetables</h1>
    <h2>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley...</h2>
    

</section>