<section class="container py-5 mx-auto -px-10">
    <div class="w-[6862x] h-[465px] text-center pt-24 bg-no-repeat" style="background-image: url(images/image/fresh.jpg);" >
    <h1 class="pb-5 text-7xl">Organic Fruit & Vegetables</h1>
    <h2 class="text-lg px-[420px] w-[630] max-w-max">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley...</h2>
    </div>
    <div class="w-[6862x] h-[465px]  bg-no-repeat" style="background-image: url(images/image/vegetables.jpg);" ></div>
</section>